*{
    margin: 0;
    padding: 0;
   
}
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
.main{
    background-color: black;
    color: white;
    width: 100vw;
    height: 100vh;
    
}
.category{
    font-size: 40px;
    margin-bottom: 30px;
}
.super{
    color: #72db73;
    font-size: 40px;
    font-family: "Single Day", cursive;
    margin-bottom: 35px;
}
.container{
    text-align: left;
    display: flex;
    padding: 70px 0 ;
    padding-left: 150px;
    padding-right: 130px;
    justify-content: space-between;
}
.left-container{
    flex-basis: 30%;
}
.right-container{
    flex-basis: 40%;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 40px;
}

img{
    width: 170px;
   border-radius:15px;
   
}
.cross{
    background-color: green;
    color: rgb(4, 64, 5);
    border: none;
    margin-left: 4px;
    font-size: 15px;
}
li{
    list-style: none;
    background-color: green;
    color: white;
    margin-bottom: 4px;
    padding: 4px 8px;
    width: 90px;
    text-align: center;
    display: inline-block;
    margin: 0px 14px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.next{
    position: absolute;
    right: 110px;
    bottom: 40px;
    padding: 8px 27px;
    color: white;
    background-color: green;
    border-radius: 15px;
    font-size:18px;
    border: none;
}